@media only screen and (min-width: 960px){
/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 *
 * General Rules
 *
 */
 
 body{
 	font-family: 'PT Sans Narrow', sans-serif;
 }

 /*****Index Html*****/

 /*****Navbar*****/

 img.card-img {
 	height: 47px;
 	width: 149px;
 }

 .card-img-overlay{
 	margin-top: 25%;
 }

 .input-group {
 	min-width: 100%;
 	min-height: 100%;
 	padding-right: 70%;
 	text-align: center;
 }

 /*h5.card-title{
 	text-align: center;
 }

 p.card-text{
 	text-align: justify;
 	}*/
 	
 	div.homePg{
 		background-image: url("../img/emp2.jpg");
 		background-size: cover;
 		background-repeat: no-repeat;
 		height: 100vh ;
 		width: 100vw;
 	}

 	div.noLeft{
 		padding-left: 0px;
 		/*padding-right: 0px;*/
 	}
 	div.realCenter{
 		top: 30%;
 		margin: auto;
 		width: 50%;
 		padding: 10px;
 		text-align: center;
 	}

 	/*Service*/

 	div.card{
 		border: 0;
 	}

 	div.service{
 		width: 105%;
 	}

 	img.servicelogoimg{
 		width: 10%;
 		margin-left: 115%;
 		margin-top: 5%;
 	}	

 	h2.service1{
 		height: 55px;
 		margin-top: 10%;
 		text-align: center;
 	}

 	img.serviceimg{
 		width: 70%; 
 		height: 70%;
 		margin-left: 10%;
 	}

 	h3.card-title{
 		text-align: center;
 		margin-left: 10%;
 		padding-right: 15%;
 		margin-bottom: 10%;
 	}

 	/*firstfooter*/

 	div.mainfooter{
 		width: 105%;
 	}

 	img.imgfooter {
 		width: 10%;
 		margin-top: 5%;
 		margin-left: 50%;
 		margin-bottom: 2%;
 	} 

 	h6.footer1{
 		margin-left: 50%;
 		letter-spacing: 1px;
 	}

 	h6.footer1 > ul >li {
 		list-style: none;
 	}

 	h6.footer2{
 		margin-top: 10%;
 		margin-left: 15%;
 		letter-spacing: 2px;

 	}

 	h6.footer2 > ul > li{
 		list-style: none;
 	}

 	h6.footer3 > ul > li{
 		list-style: none;
 	}

 	h6.footer3 {
 		margin-top: 10%;
 		margin-left: -30%; 
 		letter-spacing: 2px;
 	}

 	div.iconfooter > ul > li{
 		height: 50%;
 		display: inline-block;
 		list-style: none;
 		margin-right: 5%;
 	}


 	/*Jobseeke Registration html*/


 	div.form{
 		margin-top: 95px;
 	}


 	div.main{
 		margin-top: 80px;
 		
 	}

 	div.edmain{
 		margin-top: 10px;
 	}

 	/*Jobseeke Upload Photo*/

 	.ma-reqd {
 		color: red;
 	}

 	div.minifooter{
 		text-align: center;
 		letter-spacing: 5px;
 		margin-top: 3%;
 	}

 	div.minifooter > ul > li{
 		list-style: none;
 		display: inline-block;
 	}

 	/*Employer*/

 	div#carouselExampleIndicators{
 		width: 105%;
 		height: 100%;
 	}



 	.clear:after {
 		content: "";
 		display: block;
 		clear: both;
 	}

 	=======
 	.HeadSpace{
 		margin-top:67px;
 	}

 	/*Side bar css*/
 	.wrapper {
 		padding-left: 0;
 		-webkit-transition: all 0.5s ease;
 		-moz-transition: all 0.5s ease;
 		-o-transition: all 0.5s ease;
 		transition: all 0.5s ease;
 	}


 	.sidebar-wrapper {
 		z-index: 1000;
 		position: fixed;
 		left: 125px;
 		width: 125px;
 		height: 100%;
 		margin-left: -125px;
 		overflow-y: auto;
 		background: #CCCCCC;
 		-webkit-transition: all 0.5s ease;
 		-moz-transition: all 0.5s ease;
 		-o-transition: all 0.5s ease;
 		transition: all 0.5s ease;
 	}

 	.sidebar-nav {
 		position: absolute;
 		top: 0;
 		width: 125px;
 		margin: 0;
 		padding: 0;
 		list-style: none;
 	}

 	.sidebar-nav li {
 		text-indent: 20px;
 		line-height: 40px;
 	}

 	.sidebar-nav li a {
 		display: block;
 		text-decoration: none;
 		color: #000;
 	}
 	div.Adjust2Sidebar{
 		margin-left: 125px;
 	}

 	div.img-about{
 		background-image: url("../img/aboutus-2.jpg");
 		background-size: contain;
 		background-repeat: no-repeat;
 	}
 	div.img-mission{
 		background-image: url("../img/mission.png");
 		background-size: contain;
 		background-repeat: no-repeat;
 	}
 	div.img-vision{
 		background-image: url("../img/vision-2.jpg");
 		background-size: contain;
 		background-repeat: no-repeat;
 	}


 }









