@media only screen 
and (max-width: 401px){

/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

 body {
 	font-family: 'PT Sans', sans-serif;
 }


 /*Navbar*/

 div.mainnav{
 	width: 105%;
 }

 nav.navbar {
 	width: 105%;
 }

 img.card-img {
 	height: 50%;
 	width: 60%;
 	margin-top: 2%;
 	margin-left: 13%;
 }


 li.nav-item {
 	margin-left: 25px;
 }

 a.nav-link {
 	margin-left: 15px;
 }


 /*Center Image*/

 div.realCenter{
 	top: 20%;
 	margin: auto;
 	width: 80%;
 	padding: 10px;
 	text-align: center;
 }

 div.bord0 { 
 	border: unset;
 	margin-left: -5%;
 }


 div.homePg {
 	/*background-image: url("../img/emp2.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;*/
 	height: 70vh ;
 	width: 100vw;
 }


 div.noLeft {
 	/*padding-left: 0px;*/
 	/*padding-right: 0px;*/
 }

 a.mobOrient {
 	padding-left: 10%;
 }

 nav.mob-not-fixed {
 	position: relative;
 }

 .mob-non {
 	padding-left: 0px;
 	padding-right: 0px;
 }


 /*Service*/


 div.service{
 	width: 105%;
 	height: 80%;
 }

 h2.service1{
 	margin-top: -80%;
 	text-align: center; 
 }

 img.servicelogoimg {
 	height: 12%;
 	margin-top: 15%;
 	margin-bottom: 26%;
 	margin-left: 43%;
 }	

 img.serviceimg{
 	width: 70%; 
 	height: 70%;
 	margin-top: 20%;
 	margin-left: 10%;
 }

 div.card-deck {
 	margin-top: -70%;
 }

 h3.card-title {
 	text-align: center;
 }

 div.mainfooter{
 	width: 105%;
 }

 img.imgfooter{
 	width: 10%;
 	margin-top: 5%;
 	margin-left: 7%;
 } 

 h6.footer1{
 	margin-left: 30%;
 	letter-spacing: 1px;
 	margin-top: -14%;
 }

 h6.footer1 > ul >li {
 	list-style: none;
 	margin-bottom: 1%;
 }

 h6.footer2{
 	margin-top: 10%;
 	margin-left: 30%;
 	letter-spacing: 2px;

 }

 h6.footer2 > ul > li{
 	list-style: none;
 }

 h6.footer3 > ul > li{
 	list-style: none;
 }

 h6.footer3 {
 	margin-top: 10%;
 	margin-left: 30%; 
 	margin-bottom: 20%;
 	letter-spacing: 2px;
 }

 div.iconfooter > ul > li{
 	height: 50%;
 	display: inline-block;
 	list-style: none;
 	margin-right: 5%;
 }

 div.lowerfooter{
 	width: 105%;
 }

 /*Jobseeke html*/

 .ma-reqd {
 	color: red;
 }

 div.imgprofile{
 	text-align: center;
 }

 h4.Upload{
 	margin-top: 5px;
 }


 div.card-header{
 	text-align: center;
 }

 div.minifooter{
 	text-align: center;
 	letter-spacing: 5px;
 	margin-top: 3%;
 }

 div.minifooter > ul > li{
 	list-style: none;
 	display: inline-block;
 }


 /*Employer*/

 div#carouselExampleIndicators{
 	width: 105%;
 	height: 100%;
 }



 .clear:after {
 	content: "";
 	display: block;
 	clear: both;
 }

 .wrapper{
 	display:none;
 }
 div.Adjust2Sidebar{
 	margin-left: 0px;
 }

 .full-mob-scr{
 	width: 105%
 }

}